.contact-form {
    width: 100%;
    margin-top: 10%;
    margin-left: 11%;


    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 20px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;

        }

        li.half {
            width: 45%;
            margin-left: -35%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }


}

input[type='text'],
input[type='email'] {
    width: 20%;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 50px;
    background: rgb(26, 26, 26);
    color: rgb(109, 255, 51);
    font-size: 18px;
    // padding: 0 20px;
    box-sizing: border-box;
    font-family: sans-serif;

    &:hover {
        background: rgb(26, 26, 26);
        box-shadow: 0 0 10px 0px rgb(39, 255, 39);

    }
}

textarea {
    width: 20%;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 50px;
    background: rgb(26, 26, 26);
    color: rgb(109, 255, 51);
    font-size: 18px;
    // padding: 0 20px;
    box-sizing: border-box;
    min-height: 150px;
    font-family: sans-serif;

    &:hover {
        background: rgb(26, 26, 26);
        box-shadow: 0 0 10px 0px rgb(39, 255, 39);

    }
}

.flat-button {
    color: rgb(109, 255, 51);
    background: 0 0;
    font: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid rgb(109, 255, 51);
    float: left;

    &:hover {
        background: rgb(26, 26, 26);
        box-shadow: 0 0 10px 0px rgb(39, 255, 39);

    }
}

.info-map {
    position: absolute;
    background-color: #000;
    top: 50px;
    right: 30px;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
    border-radius: 7px;

    span {
        a {
            font-size: 16px;
            display: block;
            // padding-top: 20px;
            color: rgb(10, 255, 63);
            text-decoration: none;
        }
    }

    .myname {
        font-size: 16px;
        // display: block;
        color: rgb(10, 255, 63);
        // text-decoration: none;
    }

    &:hover {
        box-shadow: 0 0 10px 0px rgba(39, 255, 39, 0.689);
    }

}

.map-wrap {
    background: rgba(8, 253, 8, 0.095);
    float: right;
    width: 44%;
    height: 100%;
    margin-top: -40%;
    border-radius: 10px;
}

.leaflet-container{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 0.2s;
    animation-fill-mode: forwards;
}